package ${packagePath}.domain;

import java.io.Serializable;

public class ${className} implements Serializable {
  //[[[cog import dyno_cog; dyno_cog.writeProperty2('Account', cog.inFile) ]]]
  //[[[end]]]  

}