#include docs
include INSTALL
include docs/README
#include examples
include examples/*
include examples/dvd/*
include examples/dvd/schema/*
include examples/ncbi/*
include examples/xmiSchool/*
include examples/inheritance/*
include examples/selfRefObj/*
include examples/umlExamples/*
include examples/manyToMany/*
include examples/linkDB/*
include examples/school/*
include examples/school/schema/*
include examples/school/school/*
include examples/xmimof/*
include examples/varTypes/*
include examples/varTypes/widgets/*
include examples/manyToMany2/*
purge examples/CVS/
purge examples/dvd/CVS/
purge examples/dvd/schema/CVS/
purge examples/ncbi/CVS/
purge examples/xmiSchool/CVS/
purge examples/inheritance/CVS/
purge examples/selfRefObj/CVS/
purge examples/umlExamples/CVS/
purge examples/manyToMany/CVS/
purge examples/linkDB/CVS/
purge examples/school/CVS/
purge examples/school/schema/CVS/
purge examples/school/school/CVS/
purge examples/xmimof/CVS/
purge examples/varTypes/CVS/
purge examples/varTypes/widgets/CVS/
purge examples/manyToMany2/CVS/