/*--------------------------------------------------------------------*
 * 테이블:${name} 
 *--------------------------------------------------------------------*/

/*--------------------------------------------------------------------*
 * dS_ABA01TN_001:예산배정계획내역 조회 
 *--------------------------------------------------------------------*/
$getInsertSql()
public class ${name}{
  #for $attr in $fieldList
	${attr.visibility} ${attr.javaType} ${attr.name};
  #end for
}
