package  lfis.fe.commcd.vo ;

import java.util.Date;

public class AcctsVO extends lfis.framework.vo.BaseVO {

public class ${class_name} extends lfis.framework.vo.BaseVO {
	/*****************************************************
	  Attributes 
	 *****************************************************/
	
	private String   acctsCd ;  // 계정과목코드 
	private String   acctsNm ;  // 계정명 


#for $an in $attribute_names
 	private String   ${an};
	public String getAcctsCd__${an}() {
		return ${an};
	}
	public void setAcctsCd__${an}(String ${an}) {
		this.${an} = ${an};
	} 	
#end for



	/**
	 * @return acctsBalAmtDrCrFg을 리턴합니다.
	 */
	public String getAcctsBalAmtDrCrFg() {
		return acctsBalAmtDrCrFg;
	}
	/**
	 * @param acctsBalAmtDrCrFg 설정하려는 acctsBalAmtDrCrFg.
	 */
	public void setAcctsBalAmtDrCrFg(String acctsBalAmtDrCrFg) {
		this.acctsBalAmtDrCrFg = acctsBalAmtDrCrFg;
	}