#from Skeleton import Skeleton
#extends Skeleton

#def title($order)
Status for order #$order.id
#end def

#def body
<p>
#if ($order.hasShipped())
 Your order has shipped. Your tracking number is $order.trackingNumber.
#else
 Your order has not yet shipped.
#end if
</p>

<p>Order #$order.id contains the following items:</p>
<ul>
#for $purchased, $quantity in $order.purchased.items():
 <li>$purchased.name: $quantity unit#slurp
#if ($quantity != 1)
s
#end if
 </li>
#end for
</ul>
#end def
