<%@ page language="java" contentType="text/html;charset=EUC-KR" %>
<%@ page import="javax.naming.*" %>
<%@ page import="java.util.Properties" %>
<%@ page import="javax.ejb.*" %>

<%@ page import="uis.staff.session.StudentManagement.*" %>
<%@ page import="uis.staff.datatype.*" %>
<%@ page import="javax.rmi.PortableRemoteObject" %>

<%
	try {
		
		InitialContext ic = new InitialContext() ;
	
		Object refsm = ic.lookup("StudentManagement");
		
	
		StudentManagementHome homesm = (StudentManagementHome)
			PortableRemoteObject.narrow(refsm,StudentManagementHome.class);
		StudentManagement sm = homesm.create();
		
		String studentId = request.getParameter("studentId") ;
				
		StudentInfo info ;
		
		info = sm.retrieve(studentId) ;
		int totalCredit = sm.getTotalCredit(studentId) ;
		float avgGrade = sm.getAverageGrade(studentId) ;
%>
<HTML>
<HEAD>
<TITLE>학생 조회 화면</TITLE>
</HEAD>
<BODY TOPMARGIN="50">
<CENTER>
<H3> 학생 정보 조회 </H3>
<HR>
<TABLE BORDER="1">
<TR>
	<TD> 학번 </TD>
	<TD> <%= info.id %> </TD>
</TR>
<TR>
	<TD> 이름 </TD>
	<TD> <%= info.name %> </TD>
</TR>
<TR>
	<TD> 학과 </TD>
	<TD> <%= info.dept %> </TD>
</TR>
<TR>
	<TD> 주민 등록 번호 </TD>
	<TD> <%= info.SSN %> </TD>
</TR>
<TR>
	<TD> 이수 학점 수 </TD>
	<TD> <%= totalCredit %> </TD>
</TR>
<TR>
	<TD> 평균 학점 </TD>
	<TD> <%= avgGrade %> </TD>
</TR>
<TR>
	<TD ALIGN="center" COLSPAN="2">
		<INPUT TYPE="button" VALUE="수정"
			ONCLICK="javascript:window.location='StudentModification.jsp?studentId=<%= info.id %>'"
		>
		<INPUT TYPE="button" VALUE="삭제"
			ONCLICK="javascript:window.location='StudentRemoval.jsp?studentId=<%= info.id %>'"
		>
	</TD>
</TR>

</TABLE>
</CENTER>

</BODY>
</HTML>
<%	
	
	}
	catch ( Exception e ) {
		e.printStackTrace() ;
	}
	
%>


