import unittest

class ${classundertest}_test(unittest.TestCase):
  def setUp(self):
    pass
  def tearDown(self):
    pass
#for $testcase in $testcases
 def test${testcase}(self):
    pass
#end for