<b>Name:</b> $profile.name<br />
<b>E-Mail:</b> $profile.email<br />
<b>Phone:</b> $profile.phone<br />
<b>MSN:</b> $profile.msn<br />
<b>AIM:</b> $profile.aim<br />
<b>ICQ:</b> $profile.icq<br />
<b>YIM:</b> $profile.yim