                <td width="12%" class="tb_tit_center"><nobr>${propertyName}</nobr></td>
                <td width="37%" class="tb_left"><input name="" type="${propertyType}" class="td_input" style="width:100%"></td>