/*====================================================================*
 * 테이블:${name}(${tableKor}) 
 *====================================================================*/
/*--------------------------------------------------------------------*
 * create${javaClassName}001: ${tableKor} 입력 
 *--------------------------------------------------------------------*/
$getInsertSql()

/*--------------------------------------------------------------------*
 * update${javaClassName}001: ${tableKor} 수정
 *--------------------------------------------------------------------*/
$getUpdateSql()

/*--------------------------------------------------------------------*
 * delete${javaClassName}001: ${tableKor} 삭제
 *--------------------------------------------------------------------*/
$getDeleteSql()

/*--------------------------------------------------------------------*
 * find${javaClassName}001: ${tableKor} 조회
 *--------------------------------------------------------------------*/
$getSelectSql()

/*--------------------------------------------------------------------*
 * find${javaClassName}002: ${tableKor} 조회
 *--------------------------------------------------------------------*/
$getSelectSqlTbAlias()
